.artists {
  display: flex;
  overflow-x: scroll;
  margin-top: 20px;
  margin-right: -20px;
  .artist {
    margin-top: 50px;
    margin-bottom: 50px;
    &__cover {
      width: 400px;
      display: block;
      height: auto;
    }
    &__title {
      text-align: center;
      color: #fff;
    }
  }
}

.profile {
  display: block;
  justify-content: center;
  color: #fff;

  @media (min-width: 1024px) {
    display: flex;
  }

  &__info {
    width: 100%;
    @media (min-width: 1024px) {
      width: 300px;
    }
  }

  &__topTracks {
    width: 100%;
    @media (min-width: 1024px) {
      width: 600px;
      margin-left: 16px;
    }
  }
}
